In [30]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import numpy as np
from scipy.special import factorial2

hbarc = 197.3 #MeV fm
hbar = 6.582E-22 #MeV s
alpha = 1/137 
mP = 938.272 # Mev/c^2
#muN = 3.152E-14 # MeV / T
muN2 =  alpha*hbarc**3*2*mP**-2 # nuclear magneton squared

def Thalf_width(E): #converts energy width (MeV) to Thalf in seconds
    return hbar * np.log(2)/E

def Thalf_width_kev(E):
    if E==0.:
        return None
    return Thalf_width(E/1000)

def times_so_far(ls):
    out = [0]*len(ls)
    for i in range(len(ls)):
        out[i] = ls[:i+1].count(ls[i])
    return out

def j_to_twoj(x):
    if '/2' in x:
        return int(x.strip('/2'))
    else:
        return 2*int(x.strip('()'))
    
def thalf_units_to_sec(units,value):
    m=0
    if units=='PS':
        m = 10**-12
    elif units=='NS':
        m = 10**-9
    elif units=='FS':
        m = 10**-15
    elif units=='US':
        m = 10**-6
    elif units=='AS':
        m = 10**-18
    elif units=='KEV':
        pass
    if m==0:
        return Thalf_width_kev(value)
    else:
        return m*value
    
def my_float(x):
    try:
        return float(x)
    except:
        return 0.0
    
def fLambda(l):
    return 8*np.pi*(l+1)/(l*(factorial2(2*l+1)**2))

# def BEl(l,Egamma,Thalf,I,units):
#     if units == 1: # [B] = fm^2l
#         B = (I/100)*(np.log(2)/Thalf)*fLambda(l)**-1*hbar*hbarc**(2*l+1)*(Egamma**(-2*l-1))
#     elif units == 2: # [B] = e^2 fm^2l
#         B = (I/100)*(np.log(2)/Thalf)*fLambda(l)**-1*hbar*hbarc**(2*l+1)*(Egamma**(-2*l-1))
#         B = B/(alpha*hbarc)
#     elif units == 3: # [B] = e^2 b^l
#         B = (I/100)*(np.log(2)/Thalf)*fLambda(l)**-1*hbar*hbarc**(2*l+1)*(Egamma**(-2*l-1))
#         B = 10**(-2*l)*B/(alpha*hbarc)
#     return B

def BM1(Egamma,Thalf):
    return (np.log(2)/Thalf) * (1/1.76E13) * Egamma**-3 

# def BE2W(A,Egamma,Thalf,I):
#     lamW = 7.3E7*A**(4/3)*Egamma**5;
#     lamExp = (np.log(2)/Thalf)*(I/100);
#     return lamExp/lamW

# def Bweisskopf(l,A):
#     # Weisskopf (single-particle) estimate in e^2 fm^2l
#     return (1/(4*np.pi)) * (3/(3+l))**2 * (1.2*A**(1/3))**(2*l)

# def BEl_in_Wu(l,Egamma,Thalf,I,A):
#     return BEl(l,Egamma,Thalf,I,2) / Bweisskopf(l,A)

# def BWu_convert(BEl_Wu,l,A):
#     return BEl_Wu*Bweisskopf(l,A)

BM1_Weisskopf = (10/np.pi)*0.75**2

In [34]:
# df = pd.read_csv('sd_E2_data.csv',sep=r'\s*,\s*',header=0, encoding='ascii', engine='python')
df = pd.read_csv('M1_ensdf.csv')
df = df.rename(columns=lambda x: x.strip())

In [35]:
df

,A,Element,Z,N,Energy (keV),Energy Unc (keV),Ji,Thalf,E_gamma (keV),E_gamma Unc (keV),M Gamma,B_exp (W.u.),B_exp Unc (W.u.)
0,16,O \t,8,8,9844.50,5,2+ \t,0.62 KEV 10 \t,2927.10,8 \t,[M1] \t,0.00420,\t8
1,18,O \t,8,10,3920.44,14,2+ \t,18.4 FS 20 \t,1938.00,\t,M1 \t,0.14000,\t2
2,18,O \t,8,10,5254.80,9,2+ \t,7.0 FS 3 \t,1334.00,\t,M1 \t,0.11100,\t8
3,18,O \t,8,10,7116.90,12,4+ \t,17 FS LT \t,3562.00,\t,M1 \t,0.07100,\t16
4,18,O \t,8,10,8213.00,4,2+ \t,1.0 KEV 8 \t,4293.00,\t,M1 \t,0.00720,\t30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,39,K \t,19,20,4930.30,4,3/2+ \t,21 FS 9 \t,2407.40,3 \t,M1+E2 \t,0.01300,\t<
570,39,K \t,19,20,4930.30,4,3/2+ \t,21 FS 9 \t,4931.40,12 \t,M1+E2 \t,0.00250,\t+58-15
571,39,K \t,19,20,7776.31,22,17/2+ \t,1.0 PS 3 \t,1301.18,11 \t,M1+E2 \t,0.00250,\t+26-12
572,39,CA \t,20,19,4020.70,17,1/2+ \t,0.42 PS 12 \t,1553.80,\t,[M1] \t,0.01100,\t+7-4
573,40,CA \t,20,20,5248.79,5,2+ \t,83 FS +11-9 \t,1344.40,3 \t,M1+E2 \t,0.00008,\t+11-6

In [36]:
df[df['A']==22]

,A,Element,Z,N,Energy (keV),Energy Unc (keV),Ji,Thalf,E_gamma (keV),E_gamma Unc (keV),M Gamma,B_exp (W.u.),B_exp Unc (W.u.)
83,22,F \t,9,13,709.10,3,(2+) \t,57 FS 28 \t,637.40,2 \t,[M1] \t,1.500000,\t8
100,22,NE \t,10,12,4456.20,9,2+ \t,3.7 FS 25 \t,3181.40,\t,M1+E2 \t,0.180000,\t12
101,22,NE \t,10,12,5329.60,13,1+ \t,1.2 FS 3 \t,4054.60,\t,M1+E2 \t,0.020000,\t11
102,22,NE \t,10,12,5363.40,11,2+ \t,69 FS 12 \t,4088.40,\t,M1+E2 \t,0.003900,\t8
103,22,NE \t,10,12,5523.30,6,(4)+ \t,21 FS 3 \t,2166.10,5 \t,M1 \t,0.102000,\t15
104,22,NE \t,10,12,5641.20,7,3+ \t,3 FS LT \t,4366.10,10 \t,M1+E2 \t,0.059000,\t>
105,22,NE \t,10,12,6119.90,16,2+ \t,14 FS 7 \t,4844.80,\t,M1+E2 \t,0.001700,\t10
106,22,NE \t,10,12,6119.90,16,2+ \t,14 FS 7 \t,1663.60,\t,M1+E2 \t,0.012000,\t8
107,22,NE \t,10,12,6345.10,10,4+ \t,13 FS 3 \t,2987.70,9 \t,M1+E2 \t,0.043000,\t12
108,22,NE \t,10,12,6819.40,16,2+ \t,3 FS LT \t,2363.10,\t,M1+E2 \t,0.021000,\t>
109,22,NE \t,10,12,7341.10,11,0+ \t,3 FS LT \t,2011.40,\t,(M1) \t,0.510000,\t>
110,22,NE \t,10,12,7341.20,11,(4)+ \t,35 FS 21 \t,3983.50,10 \t,M1+E2 \t,0.003300,\t22
115,22,NA \t,11,11,657.00,14,0+ \t,19.6 PS 7 \t,73.90,1 \t,M1 \t,2.770000,\t10
116,22,NA \t,11,11,890.89,20,4+ \t,10.0 PS 3 \t,890.87,20 \t,M1+E2 \t,0.000280,\t5
117,22,NA \t,11,11,1528.10,3,5+ \t,3.42 PS 24 \t,637.50,20 \t,M1+E2 \t,0.000200,\t7
118,22,NA \t,11,11,1936.90,2,1+ \t,13 FS 4 \t,1280.50,10 \t,M1 \t,0.800000,\t25
119,22,NA \t,11,11,2968.60,6,3+ \t,32 FS 4 \t,1016.80,5 \t,M1 \t,0.650000,\t9
120,22,NA \t,11,11,3059.40,6,2+ \t,23 FS 3 \t,2476.20,3 \t,M1+E2 \t,0.001800,\t7
121,22,NA \t,11,11,3059.40,6,2+ \t,23 FS 3 \t,1107.60,5 \t,M1 \t,0.680000,\t9
122,22,NA \t,11,11,3706.70,4,6+ \t,59 FS 12 \t,2176.50,10 \t,M1+E2 \t,0.000300,\t2
123,22,NA \t,11,11,4071.40,6,4+ \t,0.7 FS LT \t,2088.20,5 \t,M1 \t,3.000000,\t>
124,22,NA \t,11,11,4319.00,5,1+ \t,17 FS 10 \t,3662.00,\t,M1 \t,0.026000,\t16
125,22,NA \t,11,11,4360.00,4,2+ \t,5.0 FS 14 \t,2408.10,3 \t,M1 \t,0.240000,\t7
126,22,NA \t,11,11,4710.00,4,(5+) \t,37 FS 14 \t,638.60,\t,M1 \t,1.000000,\t4
127,22,NA \t,11,11,4770.00,2,3+ \t,5.9 PS 14 \t,2818.00,\t,M1 \t,0.000170,\t4
128,22,NA \t,11,11,5062.50,4,(2+) \t,14 FS LT \t,3110.60,4 \t,M1 \t,0.052000,\t>
129,22,NA \t,11,11,5100.40,13,4+ \t,38 FS 12 \t,4209.10,\t,M1+E2 \t,0.000860,\t<
130,22,NA \t,11,11,5100.40,13,4+ \t,38 FS 12 \t,1029.00,\t,[M1] \t,0.200000,\t7
161,22,MG \t,12,10,4402.00,3,2+ \t,21 FS LT \t,3154.70,3 \t,(M1) \t,0.029000,\t>
162,22,MG \t,12,10,5035.40,5,2+ \t,0.07 NS LT \t,3788.00,5 \t,(M1) \t,0.000005,\t>
163,22,MG \t,12,10,5711.40,7,2+ \t,28 FS 10 \t,4463.50,10 \t,M1+E2 \t,0.007000,\t3

In [37]:
def isNaN(num):
    return num != num

for i in df.index:
    if isNaN(df['A'].loc[i]):
#         print(df['A'].loc[i])
        df = df.drop(i)
    
df['A'] = df['A'].map(int)
df['Z'] = df['Z'].map(int)
df['N'] = df['N'].map(int)

In [38]:
# df['Element'] = df['Element'].apply(lambda x: str.strip(x))

for key in df:
    try:
        df[key] = df[key].apply(lambda x: str.strip(x))
    except:
        pass


df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df['Element'] = df['Element'].apply(str.capitalize)

In [39]:
df = df.rename(columns={'B(W.u.)':'B_exp (W.u.)'})
df = df.rename(columns={'B Unc (W.u.)':'B_exp Unc (W.u.)'})

In [40]:
# df['Jpi'] = df['Jpi'].map(lambda x: str(x).strip().strip('()+'))
# df = df.rename(columns={'Jpi':'Ji'})
df['Ji'] = df['Ji'].map(lambda x: str(x).strip().strip('()+'))
# df = df.rename(columns={'Jpi':'Ji'})

df['twoJi'] = df['Ji'].map(j_to_twoj)

In [41]:
for i in df.index:
    string = df['B_exp Unc (W.u.)'].loc[i]
    try:
        up,down = string.strip('+').split('-')
        df['B_exp Unc (W.u.)'].loc[i] = max(float(up),float(down))
    except:
        pass
    if string=='':
        df['B_exp Unc (W.u.)'].loc[i] = 0.

/tmp/ipykernel_2553/4196107385.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['B_exp Unc (W.u.)'].loc[i] = 0.
/tmp/ipykernel_2553/4196107385.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['B_exp Unc (W.u.)'].loc[i] = max(float(up),float(down))

In [42]:
df

,A,Element,Z,N,Energy (keV),Energy Unc (keV),Ji,Thalf,E_gamma (keV),E_gamma Unc (keV),M Gamma,B_exp (W.u.),B_exp Unc (W.u.),twoJi
0,16,O,8,8,9844.50,5,2,0.62 KEV 10,2927.10,8,[M1],0.00420,8,4
1,18,O,8,10,3920.44,14,2,18.4 FS 20,1938.00,,M1,0.14000,2,4
2,18,O,8,10,5254.80,9,2,7.0 FS 3,1334.00,,M1,0.11100,8,4
3,18,O,8,10,7116.90,12,4,17 FS LT,3562.00,,M1,0.07100,16,8
4,18,O,8,10,8213.00,4,2,1.0 KEV 8,4293.00,,M1,0.00720,30,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,39,K,19,20,4930.30,4,3/2,21 FS 9,2407.40,3,M1+E2,0.01300,<,3
570,39,K,19,20,4930.30,4,3/2,21 FS 9,4931.40,12,M1+E2,0.00250,58.0,3
571,39,K,19,20,7776.31,22,17/2,1.0 PS 3,1301.18,11,M1+E2,0.00250,26.0,17
572,39,Ca,20,19,4020.70,17,1/2,0.42 PS 12,1553.80,,[M1],0.01100,7.0,1
573,40,Ca,20,20,5248.79,5,2,83 FS +11-9,1344.40,3,M1+E2,0.00008,11.0,4

In [10]:
# df[['Thalf Value','Thalf Units','Thalf Unc']] = df['Thalf'].str.split(expand=True)

# df = df[df['Thalf Unc']!='LT']
# df = df[df['Thalf Unc']!='LE']
# df = df[df['Thalf Unc']!='GT']
# # df = df[df['I_gamma Unc']!='AP']

# df['Thalf Unc'] = df['Thalf Unc'].fillna(0.0)
# df['E_gamma Unc (keV)'] = df['E_gamma Unc (keV)'].fillna(0.0)
# # df['I_gamma Unc'] = df['I_gamma Unc'].fillna(0.0)

# for i in df.index:
#     string = df['Thalf Unc'].loc[i]
#     try:
#         up,down = string.strip('+').split('-')
#         df['Thalf Unc'].loc[i] = max(float(up),float(down))
#     except:
#         pass

# df['Thalf (sec)'] = df[['Thalf Units','Thalf Value']].apply(lambda row: thalf_units_to_sec(row['Thalf Units'],float(row['Thalf Value'])),axis=1,result_type='expand')
# df['Thalf Unc (sec)'] = df[['Thalf Units','Thalf Unc']].apply(lambda row: thalf_units_to_sec(row['Thalf Units'],float(row['Thalf Unc'])),axis=1,result_type='expand')

In [11]:
# for col in ['I_gamma','I_gamma Unc','E_gamma (keV)','E_gamma Unc (keV)']:
#     df[col] = df[col].apply(my_float)

# df['B_exp (e^2fm^4)'] = df[['E_gamma (keV)','Thalf (sec)','I_gamma']].apply(lambda row: BEl(2,row['E_gamma (keV)']/1000,row['Thalf (sec)'],row['I_gamma'],2),axis=1,result_type='expand')

# NOTE: the 5 on the E_gamma term below comes from the derivative dB/dE and is 5 = |-2*lambda - 1|
# df['B_exp Unc (e^2fm^4)'] = df.apply(lambda row: row['B_exp (e^2fm^4)']*np.sqrt( (row['I_gamma Unc']/row['I_gamma'])**2 + (5 * row['E_gamma Unc (keV)']/row['E_gamma (keV)'])**2 + (row['Thalf Unc (sec)']/row['Thalf (sec)'])**2 ) , axis=1 ,result_type='expand' )

In [12]:
# df['B_exp (mu_N^2)'] = -9.
# df['B_exp Unc (mu_N^2)'] = -9.

# df['B_exp Unc (W.u.)'] = df['B_exp Unc (W.u.)'][df['B_exp Unc (W.u.)'] != '<']
# df['B_exp Unc (W.u.)'] = df['B_exp Unc (W.u.)'][df['B_exp Unc (W.u.)'] != '>']

# for i in df.index:
# #     print(df['B_exp (W.u.)'].loc[i])
# #     print(df['B_exp Unc (W.u.)'].loc[i])
# #     print(df['A'].loc[i])
#     df['B_exp (mu_N^2)'].loc[i] = BM1_Weisskopf * float(df['B_exp (W.u.)'].loc[i])
#     df['B_exp Unc (mu_N^2)'].loc[i] = BM1_Weisskopf * float(df['B_exp Unc (W.u.)'].loc[i])

In [43]:
df['Nucleus'] = df.apply(lambda x: str(int(x['A']))+x['Element'], axis=1)

In [44]:
df_levels = pd.read_csv('sd_levels_20mev.csv')

df_levels['E(keV)'] = None
df_levels['dE(keV)'] = None
    
for i in df_levels.index:
#     print(df_levels['Elevel(keV)'].iloc[i])
    E = df_levels['Elevel(keV)'].loc[i].split()
    if len(E)==1:
        df_levels['E(keV)'].loc[i] = float(E[0].replace('?',''))
        df_levels['dE(keV)'].loc[i] = None
    else:
        df_levels['E(keV)'].loc[i] = float(E[0].replace('?',''))
        df_levels['dE(keV)'].loc[i] = float(E[1].replace('?',''))  

# df_levels = df_levels.drop('unclean_E',axis=1)
df_levels = df_levels.drop('T1/2',axis=1)
# df_levels = df_levels.drop('unclean_Jpi',axis=1)
# df_levels = df_levels.drop('unclean_T1/2',axis=1)
df_levels['Include'] = True
for char in [',','&','-','GE',':','TO']:
    df_levels['Include'] *= df_levels['Jpi'].map(lambda x : not char in str(x))
df_levels = df_levels.drop(df_levels[df_levels['Include']==False].index)
for char in ['+','(',')','[',']']:
    df_levels['Jpi'] = df_levels['Jpi'].map(lambda x: str(x).replace(char,''))
df_levels = df_levels.rename(columns={'Jpi':'J'})
df_levels = df_levels.drop(df_levels[df_levels['J']==''].index)
df_levels['twoJ'] = df_levels['J'].map(j_to_twoj)

df_levels['Element'] = df_levels['Nucleus'].map(lambda x : x[2:])
df_levels['Element'] = df_levels['Element'].apply(str.capitalize)
df_levels['A'] = df_levels['Nucleus'].map(lambda x : x[:2])
df_levels['Nucleus'] = df_levels.apply(lambda x: str(int(x['A']))+x['Element'], axis=1)

In [45]:
df_levels['Nucleus'].unique()

array(['11O', '12O', '14O', '15O', '16O', '17O', '18O', '19O', '20O',
       '21O', '22O', '23O', '24O', '26O', '15F', '16F', '17F', '18F',
       '19F', '20F', '21F', '22F', '23F', '24F', '25F', '26F', '27F',
       '16Ne', '18Ne', '19Ne', '20Ne', '21Ne', '22Ne', '23Ne', '24Ne',
       '25Ne', '26Ne', '27Ne', '28Ne', '29Ne', '30Ne', '32Ne', '34Ne',
       '17Na', '19Na', '20Na', '21Na', '22Na', '23Na', '24Na', '25Na',
       '26Na', '27Na', '28Na', '29Na', '30Na', '31Na', '33Na', '35Na',
       '20Mg', '21Mg', '22Mg', '23Mg', '24Mg', '25Mg', '26Mg', '27Mg',
       '28Mg', '29Mg', '30Mg', '31Mg', '32Mg', '34Mg', '36Mg', '38Mg',
       '40Mg', '21Al', '22Al', '23Al', '24Al', '25Al', '26Al', '27Al',
       '28Al', '29Al', '30Al', '31Al', '32Al', '33Al', '35Al', '39Al',
       '22Si', '23Si', '24Si', '25Si', '26Si', '27Si', '28Si', '29Si',
       '30Si', '31Si', '32Si', '33Si', '34Si', '35Si', '36Si', '37Si',
       '38Si', '39Si', '40Si', '42Si', '44Si', '25P', '26P', '27P', '28P',
       '29P', '30P', '31P', '32P', '33P', '34P', '35P', '36P', '37P',
       '38P', '39P', '43P', '26S', '27S', '28S', '29S', '30S', '31S',
       '32S', '33S', '34S', '35S', '36S', '37S', '38S', '39S', '40S',
       '42S', '44S', '46S', '29Cl', '30Cl', '31Cl', '32Cl', '33Cl',
       '34Cl', '35Cl', '36Cl', '37Cl', '38Cl', '39Cl', '40Cl', '41Cl',
       '42Cl', '43Cl', '45Cl', '30Ar', '31Ar', '32Ar', '33Ar', '34Ar',
       '35Ar', '36Ar', '37Ar', '38Ar', '39Ar', '40Ar', '41Ar', '42Ar',
       '43Ar', '44Ar', '46Ar', '48Ar', '50Ar', '52Ar', '35K', '36K',
       '37K', '38K', '39K', '40K', '41K', '42K', '43K', '44K', '45K',
       '46K', '47K', '49K', '51K', '53K', '34Ca', '35Ca', '36Ca', '37Ca',
       '38Ca', '39Ca', '40Ca', '41Ca', '42Ca', '43Ca', '44Ca', '45Ca',
       '46Ca', '47Ca', '48Ca', '49Ca', '50Ca', '51Ca', '52Ca', '54Ca',
       '56Ca', '58Ca'], dtype=object)

In [46]:
df_levels['n'] = None
for nucleus in df_levels['Nucleus'].unique():
    ls = list(df_levels[df_levels['Nucleus']==nucleus]['twoJ'])
#     print(ls)
    tsf = times_so_far(ls)
    j = 0
    for i in df_levels[df_levels['Nucleus']==nucleus].index:
#         print(i)
        df_levels['n'].loc[i] = tsf[j]
        j+=1

/tmp/ipykernel_2553/602153835.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_levels['n'].loc[i] = tsf[j]

In [47]:
df_levels

     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
0        11O         490  5/2   490.0    None     True     5       O  11  1
1        11O        2120  5/2  2120.0    None     True     5       O  11  2
2        12O           0    0     0.0    None     True     0       O  12  1
3        12O   1.62E3 11    0  1620.0    11.0     True     0       O  12  2
4        12O     1968 52    2  1968.0    52.0     True     4       O  12  1
...      ...         ...  ...     ...     ...      ...   ...     ...  .. ..
7876    52Ca      2563 1    2  2563.0     1.0     True     4      Ca  52  1
7877    54Ca           0    0     0.0    None     True     0      Ca  54  1
7878    54Ca     2043 19    2  2043.0    19.0     True     4      Ca  54  1
7879    56Ca           0    0     0.0    None     True     0      Ca  56  1
7880    58Ca           0    0     0.0    None     True     0      Ca  58  1

[4039 rows x 10 columns]

In [48]:
df['Jf'] = None
df['twoJf'] = None
df['ni'] = None
df['nf'] = None
df['Include'] = True

max_deltaJ = 1
tol_energy = 0.5
tol_gamma = 0.5

# for i in df.index:
for i in df.index:
    nuc_cond = (df_levels['Nucleus']==df['Nucleus'].loc[i])
    i_J_cond = (df_levels['twoJ']==df['twoJi'].loc[i])
    i_E_cond = (tol_energy > abs(df_levels['E(keV)'] - df['Energy (keV)'].loc[i]))
    f_J_cond = ( 2*max_deltaJ >= abs(df_levels['twoJ'] - df['twoJi'].loc[i]))
    f_E_cond = (tol_gamma > abs(df_levels['E(keV)'] - df['Energy (keV)'].loc[i] + df['E_gamma (keV)'].loc[i]))
    i_condition =  nuc_cond &  i_J_cond  &  i_E_cond
    f_condition =  nuc_cond &  f_J_cond  &  f_E_cond
    state_i = df_levels[i_condition]
    state_f = df_levels[f_condition]
    
#     print('len=',len(state_i))
    
    if (len(state_i)!=1)|(len(state_f)!=1):
        df['Include'].loc[i] = False
        print(f"-------------------------------------------")
        print(f"Excluding transition i = {i}")
        print(f'Matched # initial states: {len(state_i)}' )
        print(f'Matched # final   states: {len(state_f)}' )
        print(f"Matched # Ji             : { len( df_levels[ nuc_cond & i_J_cond ] ) }")
        print(f"Matched # Jf             : { len( df_levels[ nuc_cond & f_J_cond ] ) }")
        print(f"Matched # Ei             : { len( df_levels[ nuc_cond & i_E_cond ] ) }")
        print(f"Matched # Ef             : { len( df_levels[ nuc_cond & f_E_cond ] ) }")
        print(state_i)
        print(state_f)
        print(df.loc[i])

        continue
        
    df['Jf'].loc[i] = list(state_f['J'])[0]
    df['twoJf'].loc[i] = int(state_f['twoJ'])
    df['ni'].loc[i] = int(state_i['n'])
    df['nf'].loc[i] = int(state_f['n'])
    
#     print(state_i)
#     print(state_f)
#     print(df.loc[i])

/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])

-------------------------------------------
Excluding transition i = 7
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 3
Matched # Jf             : 13
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
248     18F   1041.55 8  0  1041.55     8.0     True     0       F  18  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            18
Element                       F
Z                             9
N                             9
Energy (keV)            1041.55
Energy Unc (keV)              8
Ji                            0
Thalf                1.77 FS 31
E_gamma (keV)            1041.0
E_gamma Unc (keV)
M Gamma                      M1
B_exp (W.u.)               10.9
B_exp Unc (W.u.)             21
twoJi                         0
Nucleus                     18F
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 7, dtype: object
-------------------------------------------
Excluding transition i = 10
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 7
Matched # Jf             : 23
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
252     18F  3061.84 18  2  3061.84    18.0     True     4       F  18  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            18
Element                       F
Z                             9
N                             9
Energy (keV)            3061.84
Energy Unc (keV)             18
Ji                            2
Thalf                0.83 FS LT
E_gamma (keV)            3061.0
E_gamma Unc (keV)
M Gamma                      M1
B_exp (W.u.)                0.2
B_exp Unc (W.u.)             GT
twoJi                         4
Nucleus                     18F
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 10, dtype: object
-------------------------------------------
Excluding transition i = 19
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 5
Matched # Jf             : 13
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
261     18F   5297.6 15  4  5297.6    15.0     True     8       F  18  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         18
Element                    F
Z                          9
N                          9
Energy (keV)          5297.6
Energy Unc (keV)          15
Ji                         4
Thalf                21 FS 3
E_gamma (keV)         1940.0
E_gamma Unc (keV)
M Gamma                M1+E2
B_exp (W.u.)         0.00037
B_exp Unc (W.u.)          31
twoJi                      8
Nucleus                  18F
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 19, dtype: object
-------------------------------------------
Excluding transition i = 21
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 10
Matched # Jf             : 20
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
262     18F  5603.38 27  1  5603.38    27.0     True     2       F  18  5
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            18
Element                       F
Z                             9
N                             9
Energy (keV)            5603.38
Energy Unc (keV)             27
Ji                            1
Thalf                43.3 EV 16
E_gamma (keV)            4561.0
E_gamma Unc (keV)
M Gamma                      M1
B_exp (W.u.)              0.009
B_exp Unc (W.u.)             30
twoJi                         2
Nucleus                     18F
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 21, dtype: object
-------------------------------------------
Excluding transition i = 22
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 10
Matched # Jf             : 20
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
262     18F  5603.38 27  1  5603.38    27.0     True     2       F  18  5
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            18
Element                       F
Z                             9
N                             9
Energy (keV)            5603.38
Energy Unc (keV)             27
Ji                            1
Thalf                43.3 EV 16
E_gamma (keV)            2541.0
E_gamma Unc (keV)
M Gamma                      M1
B_exp (W.u.)                1.1
B_exp Unc (W.u.)              2
twoJi                         2
Nucleus                     18F
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 22, dtype: object
-------------------------------------------
Excluding transition i = 36
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 18
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
268     18F    6310.5 8  3  6310.5     8.0     True     6       F  18  5
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                             18
Element                        F
Z                              9
N                              9
Energy (keV)              6310.5
Energy Unc (keV)               8
Ji                             3
Thalf                0.95 KEV 14
E_gamma (keV)             3788.0
E_gamma Unc (keV)
M Gamma                       M1
B_exp (W.u.)               0.006
B_exp Unc (W.u.)              18
twoJi                          6
Nucleus                      18F
Jf                          None
twoJf                       None
ni                          None
nf                          None
Include                    False
Name: 36, dtype: object
-------------------------------------------
Excluding transition i = 38
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 18
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
268     18F    6310.5 8  3  6310.5     8.0     True     6       F  18  5
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                             18
Element                        F
Z                              9
N                              9
Energy (keV)              6310.5
Energy Unc (keV)               8
Ji                             3
Thalf                0.95 KEV 14
E_gamma (keV)             2472.0
E_gamma Unc (keV)
M Gamma                       M1
B_exp (W.u.)               0.025
B_exp Unc (W.u.)               9
twoJi                          6
Nucleus                      18F
Jf                          None
twoJf                       None
ni                          None
nf                          None
Include                    False
Name: 38, dtype: object
-------------------------------------------
Excluding transition i = 39
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 7
Matched # Jf             : 23
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
269     18F   6385.5 17  2  6385.5    17.0     True     4       F  18  6
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            18
Element                       F
Z                             9
N                             9
Energy (keV)             6385.5
Energy Unc (keV)             17
Ji                            2
Thalf                0.49 KEV 9
E_gamma (keV)            2547.0
E_gamma Unc (keV)
M Gamma                      M1
B_exp (W.u.)               0.18
B_exp Unc (W.u.)              9
twoJi                         4
Nucleus                     18F
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 39, dtype: object

/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


-------------------------------------------
Excluding transition i = 89
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 5
Matched # Jf             : 14
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
674    21Ne    2866.6 2  9/2  2866.6     2.0     True     9      Ne  21  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         21
Element                   Ne
Z                         10
N                         11
Energy (keV)          2866.6
Energy Unc (keV)           2
Ji                       9/2
Thalf                40 FS 4
E_gamma (keV)         1120.0
E_gamma Unc (keV)          3
M Gamma                M1+E2
B_exp (W.u.)            0.24
B_exp Unc (W.u.)           3
twoJi                      9
Nucleus                 21Ne
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 89, dtype: object
-------------------------------------------
Excluding transition i = 93
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 11
Matched # Jf             : 27
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)    J   E(keV) dE(keV)  Include  twoJ Element   A  n
678    21Ne  4684.53 15  3/2  4684.53    15.0     True     3      Ne  21  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         21
Element                   Ne
Z                         10
N                         11
Energy (keV)         4684.53
Energy Unc (keV)          15
Ji                       3/2
Thalf                11 FS 3
E_gamma (keV)        4683.94
E_gamma Unc (keV)         25
M Gamma                   M1
B_exp (W.u.)          0.0071
B_exp Unc (W.u.)          20
twoJi                      3
Nucleus                 21Ne
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 93, dtype: object
-------------------------------------------
Excluding transition i = 96
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 10
Matched # Jf             : 28
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
683    21Ne   6174.2 17  5/2  6174.2    17.0     True     5      Ne  21  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                        21
Element                  Ne
Z                        10
N                        11
Energy (keV)         6174.2
Energy Unc (keV)         17
Ji                      5/2
Thalf                9 FS 4
E_gamma (keV)        4429.0
E_gamma Unc (keV)         2
M Gamma               M1+E2
B_exp (W.u.)          0.012
B_exp Unc (W.u.)          6
twoJi                     5
Nucleus                21Ne
Jf                     None
twoJf                  None
ni                     None
nf                     None
Include               False
Name: 96, dtype: object
-------------------------------------------
Excluding transition i = 97
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 10
Matched # Jf             : 28
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
683    21Ne   6174.2 17  5/2  6174.2    17.0     True     5      Ne  21  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                        21
Element                  Ne
Z                        10
N                        11
Energy (keV)         6174.2
Energy Unc (keV)         17
Ji                      5/2
Thalf                9 FS 4
E_gamma (keV)        2438.0
E_gamma Unc (keV)         2
M Gamma               M1+E2
B_exp (W.u.)          0.008
B_exp Unc (W.u.)       11.0
twoJi                     5
Nucleus                21Ne
Jf                     None
twoJf                  None
ni                     None
nf                     None
Include               False
Name: 97, dtype: object
-------------------------------------------
Excluding transition i = 104
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 1
Matched # Jf             : 35
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
724    22Ne    5641.2 7  3  5641.2     7.0     True     6      Ne  22  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         22
Element                   Ne
Z                         10
N                         12
Energy (keV)          5641.2
Energy Unc (keV)           7
Ji                         3
Thalf                3 FS LT
E_gamma (keV)         4366.1
E_gamma Unc (keV)         10
M Gamma                M1+E2
B_exp (W.u.)           0.059
B_exp Unc (W.u.)           >
twoJi                      6
Nucleus                 22Ne
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 104, dtype: object
-------------------------------------------
Excluding transition i = 105
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 24
Matched # Jf             : 30
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
725    22Ne   6119.9 16  2  6119.9    16.0     True     4      Ne  22  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         22
Element                   Ne
Z                         10
N                         12
Energy (keV)          6119.9
Energy Unc (keV)          16
Ji                         2
Thalf                14 FS 7
E_gamma (keV)         4844.8
E_gamma Unc (keV)
M Gamma                M1+E2
B_exp (W.u.)          0.0017
B_exp Unc (W.u.)          10
twoJi                      4
Nucleus                 22Ne
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 105, dtype: object
-------------------------------------------
Excluding transition i = 110
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 10
Matched # Jf             : 12
Matched # Ei             : 2
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
735    22Ne   7341.2 11  4  7341.2    11.0     True     8      Ne  22  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          22
Element                    Ne
Z                          10
N                          12
Energy (keV)           7341.2
Energy Unc (keV)           11
Ji                          4
Thalf                35 FS 21
E_gamma (keV)          3983.5
E_gamma Unc (keV)          10
M Gamma                 M1+E2
B_exp (W.u.)           0.0033
B_exp Unc (W.u.)           22
twoJi                       8
Nucleus                  22Ne
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 110, dtype: object
-------------------------------------------
Excluding transition i = 113
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 9
Matched # Jf             : 19
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
875    21Na    2423.8 4  1/2  2423.8     4.0     True     1      Na  21  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          21
Element                    Na
Z                          11
N                          10
Energy (keV)           2423.8
Energy Unc (keV)            4
Ji                        1/2
Thalf                1.7 FS 4
E_gamma (keV)          2423.3
E_gamma Unc (keV)           5
M Gamma                  [M1]
B_exp (W.u.)             0.91
B_exp Unc (W.u.)           22
twoJi                       1
Nucleus                  21Na
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 113, dtype: object
-------------------------------------------
Excluding transition i = 118
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 12
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
931    22Na    1936.9 2  1  1936.9     2.0     True     2      Na  22  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         22
Element                   Na
Z                         11
N                         11
Energy (keV)          1936.9
Energy Unc (keV)           2
Ji                         1
Thalf                13 FS 4
E_gamma (keV)         1280.5
E_gamma Unc (keV)         10
M Gamma                   M1
B_exp (W.u.)             0.8
B_exp Unc (W.u.)          25
twoJi                      2
Nucleus                 22Na
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 118, dtype: object
-------------------------------------------
Excluding transition i = 122
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 1
Matched # Jf             : 4
Matched # Ei             : 1
Matched # Ef             : 0
    Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
936    22Na    3706.7 4  6  3706.7     4.0     True    12      Na  22  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          22
Element                    Na
Z                          11
N                          11
Energy (keV)           3706.7
Energy Unc (keV)            4
Ji                          6
Thalf                59 FS 12
E_gamma (keV)          2176.5
E_gamma Unc (keV)          10
M Gamma                 M1+E2
B_exp (W.u.)           0.0003
B_exp Unc (W.u.)            2
twoJi                      12
Nucleus                  22Na
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 122, dtype: object
-------------------------------------------
Excluding transition i = 132
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 3
Matched # Jf             : 28
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
1021    23Na    2076.2 4  7/2  2076.2     4.0     True     7      Na  23  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         23
Element                   Na
Z                         11
N                         12
Energy (keV)          2076.2
Energy Unc (keV)           4
Ji                       7/2
Thalf                27 FS 3
E_gamma (keV)         1636.6
E_gamma Unc (keV)          8
M Gamma                M1+E2
B_exp (W.u.)           0.164
B_exp Unc (W.u.)          19
twoJi                      7
Nucleus                 23Na
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 132, dtype: object
-------------------------------------------
Excluding transition i = 136
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 31
Matched # Jf             : 79
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
1024    23Na    2982.0 5  3/2  2982.0     5.0     True     3      Na  23  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          23
Element                    Na
Z                          11
N                          12
Energy (keV)           2982.0
Energy Unc (keV)            5
Ji                        3/2
Thalf                3.3 FS 4
E_gamma (keV)          2541.3
E_gamma Unc (keV)           9
M Gamma                 M1+E2
B_exp (W.u.)            0.166
B_exp Unc (W.u.)           21
twoJi                       3
Nucleus                  23Na
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 136, dtype: object
-------------------------------------------
Excluding transition i = 137
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 23
Matched # Jf             : 57
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
1025    23Na    3914.6 4  5/2  3914.6     4.0     True     5      Na  23  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                           23
Element                     Na
Z                           11
N                           12
Energy (keV)            3914.6
Energy Unc (keV)             4
Ji                         5/2
Thalf                6.9 FS 14
E_gamma (keV)           3914.0
E_gamma Unc (keV)            1
M Gamma                  M1+E2
B_exp (W.u.)              0.04
B_exp Unc (W.u.)             9
twoJi                        5
Nucleus                   23Na
Jf                        None
twoJf                     None
ni                        None
nf                        None
Include                  False
Name: 137, dtype: object
-------------------------------------------
Excluding transition i = 139
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 23
Matched # Jf             : 57
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
1025    23Na    3914.6 4  5/2  3914.6     4.0     True     5      Na  23  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                           23
Element                     Na
Z                           11
N                           12
Energy (keV)            3914.6
Energy Unc (keV)             4
Ji                         5/2
Thalf                6.9 FS 14
E_gamma (keV)            932.0
E_gamma Unc (keV)            1
M Gamma                   [M1]
B_exp (W.u.)             0.091
B_exp Unc (W.u.)            21
twoJi                        5
Nucleus                   23Na
Jf                        None
twoJf                     None
ni                        None
nf                        None
Include                  False
Name: 139, dtype: object
-------------------------------------------
Excluding transition i = 145
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 23
Matched # Jf             : 57
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J   E(keV) dE(keV)  Include  twoJ Element   A  n
1028    23Na  5378.56 15  5/2  5378.56    15.0     True     5      Na  23  3
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                           23
Element                     Na
Z                           11
N                           12
Energy (keV)           5378.56
Energy Unc (keV)            15
Ji                         5/2
Thalf                143 AS 21
E_gamma (keV)           4937.8
E_gamma Unc (keV)
M Gamma                  M1+E2
B_exp (W.u.)              0.72
B_exp Unc (W.u.)            11
twoJi                        5
Nucleus                   23Na
Jf                        None
twoJf                     None
ni                        None
nf                        None
Include                  False
Name: 145, dtype: object
-------------------------------------------
Excluding transition i = 147
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 3
Matched # Jf             : 28
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
1032    23Na    5925.8 5  7/2  5925.8     5.0     True     7      Na  23  3
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         23
Element                   Na
Z                         11
N                         12
Energy (keV)          5925.8
Energy Unc (keV)           5
Ji                       7/2
Thalf                13 FS 5
E_gamma (keV)         2010.0
E_gamma Unc (keV)          1
M Gamma                   M1
B_exp (W.u.)           0.014
B_exp Unc (W.u.)           6
twoJi                      7
Nucleus                 23Na
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 147, dtype: object

/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])

-------------------------------------------
Excluding transition i = 153
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 2
Matched # Jf             : 9
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
1193    24Na  5967.37 13  0  5967.37    13.0     True     0      Na  24  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         24
Element                   Na
Z                         11
N                         13
Energy (keV)         5967.37
Energy Unc (keV)          13
Ji                         0
Thalf                7 FS LT
E_gamma (keV)         2376.8
E_gamma Unc (keV)
M Gamma                   M1
B_exp (W.u.)           0.023
B_exp Unc (W.u.)           >
twoJi                      0
Nucleus                 24Na
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 153, dtype: object
-------------------------------------------
Excluding transition i = 154
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 2
Matched # Jf             : 9
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
1193    24Na  5967.37 13  0  5967.37    13.0     True     0      Na  24  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         24
Element                   Na
Z                         11
N                         13
Energy (keV)         5967.37
Energy Unc (keV)          13
Ji                         0
Thalf                7 FS LT
E_gamma (keV)         4619.1
E_gamma Unc (keV)
M Gamma                   M1
B_exp (W.u.)          0.0044
B_exp Unc (W.u.)           >
twoJi                      0
Nucleus                 24Na
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 154, dtype: object
-------------------------------------------
Excluding transition i = 157
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 11
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J E(keV) dE(keV)  Include  twoJ Element   A  n
1214    26Na     232.7 6  2  232.7     6.0     True     4      Na  26  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                             26
Element                       Na
Z                             11
N                             15
Energy (keV)               232.7
Energy Unc (keV)               6
Ji                             2
Thalf                0.9 NS +6-5
E_gamma (keV)              232.0
E_gamma Unc (keV)              2
M Gamma                    M1+E2
B_exp (W.u.)               0.001
B_exp Unc (W.u.)             7.0
twoJi                          4
Nucleus                     26Na
Jf                          None
twoJf                       None
ni                          None
nf                          None
Include                    False
Name: 157, dtype: object
-------------------------------------------
Excluding transition i = 158
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 11
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J E(keV) dE(keV)  Include  twoJ Element   A  n
1214    26Na     232.7 6  2  232.7     6.0     True     4      Na  26  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                             26
Element                       Na
Z                             11
N                             15
Energy (keV)               232.7
Energy Unc (keV)               6
Ji                             2
Thalf                0.9 NS +6-5
E_gamma (keV)              153.0
E_gamma Unc (keV)              3
M Gamma                    M1+E2
B_exp (W.u.)               0.003
B_exp Unc (W.u.)            20.0
twoJi                          4
Nucleus                     26Na
Jf                          None
twoJf                       None
ni                          None
nf                          None
Include                    False
Name: 158, dtype: object
-------------------------------------------
Excluding transition i = 159
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 11
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J E(keV) dE(keV)  Include  twoJ Element   A  n
1215    26Na     406.7 5  2  406.7     5.0     True     4      Na  26  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                                26
Element                          Na
Z                                11
N                                15
Energy (keV)                  406.7
Energy Unc (keV)                  5
Ji                                2
Thalf                0.18 NS +17-13
E_gamma (keV)                 404.0
E_gamma Unc (keV)                 3
M Gamma                       M1+E2
B_exp (W.u.)                 0.0015
B_exp Unc (W.u.)               14.0
twoJi                             4
Nucleus                        26Na
Jf                             None
twoJf                          None
ni                             None
nf                             None
Include                       False
Name: 159, dtype: object
-------------------------------------------
Excluding transition i = 160
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 11
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J E(keV) dE(keV)  Include  twoJ Element   A  n
1215    26Na     406.7 5  2  406.7     5.0     True     4      Na  26  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                                26
Element                          Na
Z                                11
N                                15
Energy (keV)                  406.7
Energy Unc (keV)                  5
Ji                                2
Thalf                0.18 NS +17-13
E_gamma (keV)                 323.0
E_gamma Unc (keV)
M Gamma                       M1+E2
B_exp (W.u.)                 0.0004
B_exp Unc (W.u.)                3.0
twoJi                             4
Nucleus                        26Na
Jf                             None
twoJf                          None
ni                             None
nf                             None
Include                       False
Name: 160, dtype: object
-------------------------------------------
Excluding transition i = 163
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 17
Matched # Jf             : 23
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
1303    22Mg    5711.4 7  2  5711.4     7.0     True     4      Mg  22  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          22
Element                    Mg
Z                          12
N                          10
Energy (keV)           5711.4
Energy Unc (keV)            7
Ji                          2
Thalf                28 FS 10
E_gamma (keV)          4463.5
E_gamma Unc (keV)          10
M Gamma                 M1+E2
B_exp (W.u.)            0.007
B_exp Unc (W.u.)            3
twoJi                       4
Nucleus                  22Mg
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 163, dtype: object
-------------------------------------------
Excluding transition i = 165
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 8
Matched # Jf             : 24
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
1344    23Mg    2051.6 4  7/2  2051.6     4.0     True     7      Mg  23  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          23
Element                    Mg
Z                          12
N                          11
Energy (keV)           2051.6
Energy Unc (keV)            4
Ji                        7/2
Thalf                65 FS 12
E_gamma (keV)          1601.4
E_gamma Unc (keV)          13
M Gamma                 M1+E2
B_exp (W.u.)             0.07
B_exp Unc (W.u.)         16.0
twoJi                       7
Nucleus                  23Mg
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 165, dtype: object
-------------------------------------------
Excluding transition i = 179
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 10
Matched # Jf             : 24
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
1549    25Mg    3907.9 4  5/2  3907.9     4.0     True     5      Mg  25  3
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                        25
Element                  Mg
Z                        12
N                        13
Energy (keV)         3907.9
Energy Unc (keV)          4
Ji                      5/2
Thalf                6 FS 2
E_gamma (keV)        1170.6
E_gamma Unc (keV)         9
M Gamma                [M1]
B_exp (W.u.)            0.3
B_exp Unc (W.u.)         11
twoJi                     5
Nucleus                25Mg
Jf                     None
twoJf                  None
ni                     None
nf                     None
Include               False
Name: 179, dtype: object
-------------------------------------------
Excluding transition i = 180
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 5
Matched # Jf             : 16
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
1550    25Mg    4059.6 3  9/2  4059.6     3.0     True     9      Mg  25  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         25
Element                   Mg
Z                         12
N                         13
Energy (keV)          4059.6
Energy Unc (keV)           3
Ji                       9/2
Thalf                47 FS 5
E_gamma (keV)         2450.5
E_gamma Unc (keV)         10
M Gamma                M1+E2
B_exp (W.u.)          0.0102
B_exp Unc (W.u.)          14
twoJi                      9
Nucleus                 25Mg
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 180, dtype: object
-------------------------------------------
Excluding transition i = 196
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 5
Matched # Jf             : 24
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
1654    26Mg    6978.3 8  5  6978.3     8.0     True    10      Mg  26  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         26
Element                   Mg
Z                         12
N                         14
Energy (keV)          6978.3
Energy Unc (keV)           8
Ji                         5
Thalf                14 FS 5
E_gamma (keV)         2660.0
E_gamma Unc (keV)         20
M Gamma                M1+E2
B_exp (W.u.)           0.012
B_exp Unc (W.u.)           5
twoJi                     10
Nucleus                 26Mg
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 196, dtype: object
-------------------------------------------
Excluding transition i = 205
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 8
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
1777    28Mg    4554.6 5  2  4554.6     5.0     True     4      Mg  28  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            28
Element                      Mg
Z                            12
N                            16
Energy (keV)             4554.6
Energy Unc (keV)              5
Ji                            2
Thalf                0.03 PS LT
E_gamma (keV)            3082.6
E_gamma Unc (keV)            13
M Gamma                   M1+E2
B_exp (W.u.)              0.024
B_exp Unc (W.u.)              >
twoJi                         4
Nucleus                    28Mg
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 205, dtype: object

/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])

-------------------------------------------
Excluding transition i = 223
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 18
Matched # Jf             : 45
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
1976    26Al   2071.64 4  1  2071.64     4.0     True     2      Al  26  3
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                           26
Element                     Al
Z                           13
N                           13
Energy (keV)           2071.64
Energy Unc (keV)             4
Ji                           1
Thalf                367 FS 69
E_gamma (keV)           1842.8
E_gamma Unc (keV)            7
M Gamma                     M1
B_exp (W.u.)            0.0086
B_exp Unc (W.u.)            17
twoJi                        2
Nucleus                   26Al
Jf                        None
twoJf                     None
ni                        None
nf                        None
Include                  False
Name: 223, dtype: object

/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])

-------------------------------------------
Excluding transition i = 333
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 7
Matched # Jf             : 35
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
2112    27Al    4580.0 8  7/2  4580.0     8.0     True     7      Al  27  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          27
Element                    Al
Z                          13
N                          14
Energy (keV)           4580.0
Energy Unc (keV)            8
Ji                        7/2
Thalf                5.3 FS 6
E_gamma (keV)          4579.5
E_gamma Unc (keV)           9
M Gamma                 M1+E2
B_exp (W.u.)            0.028
B_exp Unc (W.u.)            4
twoJi                       7
Nucleus                  27Al
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 333, dtype: object
-------------------------------------------
Excluding transition i = 334
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 7
Matched # Jf             : 35
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
2112    27Al    4580.0 8  7/2  4580.0     8.0     True     7      Al  27  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          27
Element                    Al
Z                          13
N                          14
Energy (keV)           4580.0
Energy Unc (keV)            8
Ji                        7/2
Thalf                5.3 FS 6
E_gamma (keV)          2368.7
E_gamma Unc (keV)          11
M Gamma                 M1+E2
B_exp (W.u.)             0.05
B_exp Unc (W.u.)            9
twoJi                       7
Nucleus                  27Al
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 334, dtype: object
-------------------------------------------
Excluding transition i = 336
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 22
Matched # Jf             : 44
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
2113    27Al    4811.6 5  5/2  4811.6     5.0     True     5      Al  27  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          27
Element                    Al
Z                          13
N                          14
Energy (keV)           4811.6
Energy Unc (keV)            5
Ji                        5/2
Thalf                1.5 FS 2
E_gamma (keV)          4811.1
E_gamma Unc (keV)           6
M Gamma                 M1+E2
B_exp (W.u.)            0.034
B_exp Unc (W.u.)            6
twoJi                       5
Nucleus                  27Al
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 336, dtype: object
-------------------------------------------
Excluding transition i = 338
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 22
Matched # Jf             : 44
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
2113    27Al    4811.6 5  5/2  4811.6     5.0     True     5      Al  27  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          27
Element                    Al
Z                          13
N                          14
Energy (keV)           4811.6
Energy Unc (keV)            5
Ji                        5/2
Thalf                1.5 FS 2
E_gamma (keV)          2600.3
E_gamma Unc (keV)           8
M Gamma                 M1+E2
B_exp (W.u.)             0.13
B_exp Unc (W.u.)            3
twoJi                       5
Nucleus                  27Al
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 338, dtype: object
-------------------------------------------
Excluding transition i = 340
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 17
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
2115    27Al    5419.9 9  9/2  5419.9     9.0     True     9      Al  27  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          27
Element                    Al
Z                          13
N                          14
Energy (keV)           5419.9
Energy Unc (keV)            9
Ji                        9/2
Thalf                14 FS LT
E_gamma (keV)          3208.5
E_gamma Unc (keV)          11
M Gamma                 M1+E2
B_exp (W.u.)            0.035
B_exp Unc (W.u.)            >
twoJi                       9
Nucleus                  27Al
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 340, dtype: object
-------------------------------------------
Excluding transition i = 356
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 7
Matched # Jf             : 20
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
2227    28Al   2201.43 3  1  2201.43     3.0     True     2      Al  28  3
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         28
Element                   Al
Z                         13
N                         15
Energy (keV)         2201.43
Energy Unc (keV)           3
Ji                         1
Thalf                32 FS 2
E_gamma (keV)         1229.8
E_gamma Unc (keV)          4
M Gamma                 [M1]
B_exp (W.u.)           0.054
B_exp Unc (W.u.)          10
twoJi                      2
Nucleus                 28Al
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 356, dtype: object
-------------------------------------------
Excluding transition i = 367
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 14
Matched # Jf             : 22
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J   E(keV) dE(keV)  Include  twoJ Element   A  n
2362    26Si  2787.05 13  2  2787.05    13.0     True     4      Si  26  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                           26
Element                     Si
Z                           14
N                           12
Energy (keV)           2787.05
Energy Unc (keV)            13
Ji                           2
Thalf                146 FS 35
E_gamma (keV)            988.9
E_gamma Unc (keV)            1
M Gamma                  M1+E2
B_exp (W.u.)               0.1
B_exp Unc (W.u.)            25
twoJi                        4
Nucleus                   26Si
Jf                        None
twoJf                     None
ni                        None
nf                        None
Include                  False
Name: 367, dtype: object
-------------------------------------------
Excluding transition i = 376
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 12
Matched # Jf             : 18
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
2417    27Si      5062 2  5/2  5062.0     2.0     True     5      Si  27  5
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         27
Element                   Si
Z                         14
N                         13
Energy (keV)          5062.0
Energy Unc (keV)           2
Ji                       5/2
Thalf                21 FS 6
E_gamma (keV)         4104.0
E_gamma Unc (keV)
M Gamma                M1+E2
B_exp (W.u.)           0.012
B_exp Unc (W.u.)           4
twoJi                      5
Nucleus                 27Si
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 376, dtype: object
-------------------------------------------
Excluding transition i = 379
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 9
Matched # Jf             : 48
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
2467    28Si  8945.20 13  5  8945.2    13.0     True    10      Si  28  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         28
Element                   Si
Z                         14
N                         14
Energy (keV)          8945.2
Energy Unc (keV)          13
Ji                         5
Thalf                58 FS 6
E_gamma (keV)         4326.6
E_gamma Unc (keV)
M Gamma              (M1+E2)
B_exp (W.u.)         0.00006
B_exp Unc (W.u.)        12.0
twoJi                     10
Nucleus                 28Si
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 379, dtype: object
-------------------------------------------
Excluding transition i = 390
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 10
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J   E(keV) dE(keV)  Include  twoJ Element   A  n
2644    29Si   4840.38 7  1/2  4840.38     7.0     True     1      Si  29  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                           29
Element                     Si
Z                           14
N                           15
Energy (keV)           4840.38
Energy Unc (keV)             7
Ji                         1/2
Thalf                3.5 FS LT
E_gamma (keV)           4839.6
E_gamma Unc (keV)            4
M Gamma                   (M1)
B_exp (W.u.)             0.048
B_exp Unc (W.u.)             >
twoJi                        1
Nucleus                   29Si
Jf                        None
twoJf                     None
ni                        None
nf                        None
Include                  False
Name: 390, dtype: object
-------------------------------------------
Excluding transition i = 394
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 6
Matched # Jf             : 15
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
2648    29Si    5811.7 7  7/2  5811.7     7.0     True     7      Si  29  3
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          29
Element                    Si
Z                          14
N                          15
Energy (keV)           5811.7
Energy Unc (keV)            7
Ji                        7/2
Thalf                32 FS 12
E_gamma (keV)          2745.3
E_gamma Unc (keV)          11
M Gamma                 M1+E2
B_exp (W.u.)            0.017
B_exp Unc (W.u.)            7
twoJi                       7
Nucleus                  29Si
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 394, dtype: object

/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])

-------------------------------------------
Excluding transition i = 408
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 5
Matched # Jf             : 9
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
2696    30Si    7223.2 4  4  7223.2     4.0     True     8      Si  30  3
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          30
Element                    Si
Z                          14
N                          16
Energy (keV)           7223.2
Energy Unc (keV)            4
Ji                          4
Thalf                14 FS LT
E_gamma (keV)          1943.0
E_gamma Unc (keV)          11
M Gamma                 M1+E2
B_exp (W.u.)            0.074
B_exp Unc (W.u.)            >
twoJi                       8
Nucleus                  30Si
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 408, dtype: object
-------------------------------------------
Excluding transition i = 432
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 4
Matched # Jf             : 41
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
3145     31P    4634.2 8  7/2  4634.2     8.0     True     7       P  31  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          31
Element                     P
Z                          15
N                          16
Energy (keV)           4634.2
Energy Unc (keV)            8
Ji                        7/2
Thalf                68 FS 10
E_gamma (keV)          2399.7
E_gamma Unc (keV)           5
M Gamma                 M1+E2
B_exp (W.u.)           0.0049
B_exp Unc (W.u.)            8
twoJi                       7
Nucleus                   31P
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 432, dtype: object
-------------------------------------------
Excluding transition i = 440
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 32
Matched # Jf             : 54
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
3166     31P   6931.4 20  5/2  6931.4    20.0     True     5       P  31  7
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          31
Element                     P
Z                          15
N                          16
Energy (keV)           6931.4
Energy Unc (keV)           20
Ji                        5/2
Thalf                28 FS LT
E_gamma (keV)          4697.2
E_gamma Unc (keV)
M Gamma                 M1+E2
B_exp (W.u.)           0.0016
B_exp Unc (W.u.)            >
twoJi                       5
Nucleus                   31P
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 440, dtype: object
-------------------------------------------
Excluding transition i = 459
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 8
Matched # Jf             : 21
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
3315     32P    3797.3 4  3  3797.3     4.0     True     6       P  32  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          32
Element                     P
Z                          15
N                          17
Energy (keV)           3797.3
Energy Unc (keV)            4
Ji                          3
Thalf                49 FS 26
E_gamma (keV)          3717.8
E_gamma Unc (keV)           7
M Gamma                 M1+E2
B_exp (W.u.)           0.0014
B_exp Unc (W.u.)           10
twoJi                       6
Nucleus                   32P
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 459, dtype: object
-------------------------------------------
Excluding transition i = 472
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 8
Matched # Jf             : 12
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
3383     33P    5050.0 7  5/2  5050.0     7.0     True     5       P  33  5
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          33
Element                     P
Z                          15
N                          18
Energy (keV)           5050.0
Energy Unc (keV)            7
Ji                        5/2
Thalf                62 FS LT
E_gamma (keV)          3617.2
E_gamma Unc (keV)
M Gamma                  [M1]
B_exp (W.u.)          0.00076
B_exp Unc (W.u.)            >
twoJi                       5
Nucleus                   33P
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 472, dtype: object
-------------------------------------------
Excluding transition i = 477
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 18
Matched # Jf             : 49
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
3567     32S    4695.3 4  1  4695.3     4.0     True     2       S  32  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                           32
Element                      S
Z                           16
N                           16
Energy (keV)            4695.3
Energy Unc (keV)             4
Ji                           1
Thalf                286 FS 74
E_gamma (keV)           4694.0
E_gamma Unc (keV)           25
M Gamma                   [M1]
B_exp (W.u.)           0.00029
B_exp Unc (W.u.)             8
twoJi                        2
Nucleus                    32S
Jf                        None
twoJf                     None
ni                        None
nf                        None
Include                  False
Name: 477, dtype: object
-------------------------------------------
Excluding transition i = 478
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 21
Matched # Jf             : 45
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
3575     32S   7115.3 10  2  7115.3    10.0     True     4       S  32  5
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            32
Element                       S
Z                            16
N                            16
Energy (keV)             7115.3
Energy Unc (keV)             10
Ji                            2
Thalf                1.73 FS 35
E_gamma (keV)            4884.2
E_gamma Unc (keV)
M Gamma                   M1+E2
B_exp (W.u.)              0.079
B_exp Unc (W.u.)             17
twoJi                         4
Nucleus                     32S
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 478, dtype: object

/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])
/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])

-------------------------------------------
Excluding transition i = 498
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 1
Matched # Jf             : 7
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
4002     36S    4523.0 6  1  4523.0     6.0     True     2       S  36  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            36
Element                       S
Z                            16
N                            20
Energy (keV)             4523.0
Energy Unc (keV)              6
Ji                            1
Thalf                0.017 PS 8
E_gamma (keV)            4522.2
E_gamma Unc (keV)            15
M Gamma                      M1
B_exp (W.u.)               0.01
B_exp Unc (W.u.)              5
twoJi                         2
Nucleus                     36S
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 498, dtype: object
-------------------------------------------
Excluding transition i = 510
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 16
Matched # Jf             : 39
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J   E(keV) dE(keV)  Include  twoJ Element   A  n
4164    33Cl  4112.27 20  3/2  4112.27    20.0     True     3      Cl  33  4
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          33
Element                    Cl
Z                          17
N                          16
Energy (keV)          4112.27
Energy Unc (keV)           20
Ji                        3/2
Thalf                3 KEV LT
E_gamma (keV)          3280.0
E_gamma Unc (keV)          50
M Gamma                 M1+E2
B_exp (W.u.)            0.036
B_exp Unc (W.u.)          0.0
twoJi                       3
Nucleus                  33Cl
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 510, dtype: object
-------------------------------------------
Excluding transition i = 528
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 2
Matched # Jf             : 7
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J   E(keV) dE(keV)  Include  twoJ Element   A  n
4422    35Cl  3943.82 25  9/2  3943.82    25.0     True     9      Cl  35  1
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                           35
Element                     Cl
Z                           17
N                           18
Energy (keV)           3943.82
Energy Unc (keV)            25
Ji                         9/2
Thalf                205 FS 35
E_gamma (keV)           1297.4
E_gamma Unc (keV)           15
M Gamma                  M1+E2
B_exp (W.u.)           0.00034
B_exp Unc (W.u.)            12
twoJi                        9
Nucleus                   35Cl
Jf                        None
twoJf                     None
ni                        None
nf                        None
Include                  False
Name: 528, dtype: object
-------------------------------------------
Excluding transition i = 561
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 2
Matched # Jf             : 15
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
5724     38K   3429.7 10  2  3429.7    10.0     True     4       K  38  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                            38
Element                       K
Z                            19
N                            19
Energy (keV)             3429.7
Energy Unc (keV)             10
Ji                            2
Thalf                0.12 PS LT
E_gamma (keV)            1028.0
E_gamma Unc (keV)            12
M Gamma                    [M1]
B_exp (W.u.)                0.1
B_exp Unc (W.u.)              >
twoJi                         4
Nucleus                     38K
Jf                         None
twoJf                      None
ni                         None
nf                         None
Include                   False
Name: 561, dtype: object
-------------------------------------------
Excluding transition i = 563
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 10
Matched # Jf             : 13
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)  J  E(keV) dE(keV)  Include  twoJ Element   A  n
5732     38K   3976.3 12  1  3976.3    12.0     True     2       K  38  5
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          38
Element                     K
Z                          19
N                          19
Energy (keV)           3976.3
Energy Unc (keV)           12
Ji                          1
Thalf                40 FS LT
E_gamma (keV)          3848.0
E_gamma Unc (keV)          19
M Gamma                  [M1]
B_exp (W.u.)           0.0071
B_exp Unc (W.u.)            >
twoJi                       2
Nucleus                   38K
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 563, dtype: object
-------------------------------------------
Excluding transition i = 566
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 9
Matched # Jf             : 21
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
5811     39K    3938.9 5  3/2  3938.9     5.0     True     3       K  39  2
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                          39
Element                     K
Z                          19
N                          20
Energy (keV)           3938.9
Energy Unc (keV)            5
Ji                        3/2
Thalf                73 FS 14
E_gamma (keV)          3938.3
E_gamma Unc (keV)          10
M Gamma                 M1+E2
B_exp (W.u.)           0.0019
B_exp Unc (W.u.)         24.0
twoJi                       3
Nucleus                   39K
Jf                       None
twoJf                    None
ni                       None
nf                       None
Include                 False
Name: 566, dtype: object
-------------------------------------------
Excluding transition i = 570
Matched # initial states: 1
Matched # final   states: 0
Matched # Ji             : 9
Matched # Jf             : 21
Matched # Ei             : 1
Matched # Ef             : 0
     Nucleus Elevel(keV)    J  E(keV) dE(keV)  Include  twoJ Element   A  n
5815     39K    4930.3 4  3/2  4930.3     4.0     True     3       K  39  3
Empty DataFrame
Columns: [Nucleus, Elevel(keV), J, E(keV), dE(keV), Include, twoJ, Element, A, n]
Index: []
A                         39
Element                    K
Z                         19
N                         20
Energy (keV)          4930.3
Energy Unc (keV)           4
Ji                       3/2
Thalf                21 FS 9
E_gamma (keV)         4931.4
E_gamma Unc (keV)         12
M Gamma                M1+E2
B_exp (W.u.)          0.0025
B_exp Unc (W.u.)        58.0
twoJi                      3
Nucleus                  39K
Jf                      None
twoJf                   None
ni                      None
nf                      None
Include                False
Name: 570, dtype: object

/tmp/ipykernel_2553/929582128.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Include'].loc[i] = False
/tmp/ipykernel_2553/929582128.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Jf'].loc[i] = list(state_f['J'])[0]
/tmp/ipykernel_2553/929582128.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['twoJf'].loc[i] = int(state_f['twoJ'])
/tmp/ipykernel_2553/929582128.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ni'].loc[i] = int(state_i['n'])
/tmp/ipykernel_2553/929582128.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nf'].loc[i] = int(state_f['n'])

In [49]:
# df_levels['Nucleus']==df['Nucleus'].loc[i]

In [50]:
df[df['Include']==False]

,A,Element,Z,N,Energy (keV),Energy Unc (keV),Ji,Thalf,E_gamma (keV),E_gamma Unc (keV),M Gamma,B_exp (W.u.),B_exp Unc (W.u.),twoJi,Nucleus,Jf,twoJf,ni,nf,Include
7,18,F,9,9,1041.55,8,0,1.77 FS 31,1041.00,,M1,10.90000,21,0,18F,None,None,None,None,False
10,18,F,9,9,3061.84,18,2,0.83 FS LT,3061.00,,M1,0.20000,GT,4,18F,None,None,None,None,False
19,18,F,9,9,5297.60,15,4,21 FS 3,1940.00,,M1+E2,0.00037,31,8,18F,None,None,None,None,False
21,18,F,9,9,5603.38,27,1,43.3 EV 16,4561.00,,M1,0.00900,30,2,18F,None,None,None,None,False
22,18,F,9,9,5603.38,27,1,43.3 EV 16,2541.00,,M1,1.10000,2,2,18F,None,None,None,None,False
36,18,F,9,9,6310.50,8,3,0.95 KEV 14,3788.00,,M1,0.00600,18,6,18F,None,None,None,None,False
38,18,F,9,9,6310.50,8,3,0.95 KEV 14,2472.00,,M1,0.02500,9,6,18F,None,None,None,None,False
39,18,F,9,9,6385.50,17,2,0.49 KEV 9,2547.00,,M1,0.18000,9,4,18F,None,None,None,None,False
89,21,Ne,10,11,2866.60,2,9/2,40 FS 4,1120.00,3,M1+E2,0.24000,3,9,21Ne,None,None,None,None,False
93,21,Ne,10,11,4684.53,15,3/2,11 FS 3,4683.94,25,M1,0.00710,20,3,21Ne,None,None,None,None,False
96,21,Ne,10,11,6174.20,17,5/2,9 FS 4,4429.00,2,M1+E2,0.01200,6,5,21Ne,None,None,None,None,False
97,21,Ne,10,11,6174.20,17,5/2,9 FS 4,2438.00,2,M1+E2,0.00800,11.0,5,21Ne,None,None,None,None,False
104,22,Ne,10,12,5641.20,7,3,3 FS LT,4366.10,10,M1+E2,0.05900,>,6,22Ne,None,None,None,None,False
105,22,Ne,10,12,6119.90,16,2,14 FS 7,4844.80,,M1+E2,0.00170,10,4,22Ne,None,None,None,None,False
110,22,Ne,10,12,7341.20,11,4,35 FS 21,3983.50,10,M1+E2,0.00330,22,8,22Ne,None,None,None,None,False
113,21,Na,11,10,2423.80,4,1/2,1.7 FS 4,2423.30,5,[M1],0.91000,22,1,21Na,None,None,None,None,False
118,22,Na,11,11,1936.90,2,1,13 FS 4,1280.50,10,M1,0.80000,25,2,22Na,None,None,None,None,False
122,22,Na,11,11,3706.70,4,6,59 FS 12,2176.50,10,M1+E2,0.00030,2,12,22Na,None,None,None,None,False
132,23,Na,11,12,2076.20,4,7/2,27 FS 3,1636.60,8,M1+E2,0.16400,19,7,23Na,None,None,None,None,False
136,23,Na,11,12,2982.00,5,3/2,3.3 FS 4,2541.30,9,M1+E2,0.16600,21,3,23Na,None,None,None,None,False
137,23,Na,11,12,3914.60,4,5/2,6.9 FS 14,3914.00,1,M1+E2,0.04000,9,5,23Na,None,None,None,None,False
139,23,Na,11,12,3914.60,4,5/2,6.9 FS 14,932.00,1,[M1],0.09100,21,5,23Na,None,None,None,None,False
145,23,Na,11,12,5378.56,15,5/2,143 AS 21,4937.80,,M1+E2,0.72000,11,5,23Na,None,None,None,None,False
147,23,Na,11,12,5925.80,5,7/2,13 FS 5,2010.00,1,M1,0.01400,6,7,23Na,None,None,None,None,False
153,24,Na,11,13,5967.37,13,0,7 FS LT,2376.80,,M1,0.02300,>,0,24Na,None,None,None,None,False
154,24,Na,11,13,5967.37,13,0,7 FS LT,4619.10,,M1,0.00440,>,0,24Na,None,None,None,None,False
157,26,Na,11,15,232.70,6,2,0.9 NS +6-5,232.00,2,M1+E2,0.00100,7.0,4,26Na,None,None,None,None,False
158,26,Na,11,15,232.70,6,2,0.9 NS +6-5,153.00,3,M1+E2,0.00300,20.0,4,26Na,None,None,None,None,False
159,26,Na,11,15,406.70,5,2,0.18 NS +17-13,404.00,3,M1+E2,0.00150,14.0,4,26Na,None,None,None,None,False
160,26,Na,11,15,406.70,5,2,0.18 NS +17-13,323.00,,M1+E2,0.00040,3.0,4,26Na,None,None,None,None,False
163,22,Mg,12,10,5711.40,7,2,28 FS 10,4463.50,10,M1+E2,0.00700,3,4,22Mg,None,None,None,None,False
165,23,Mg,12,11,2051.60,4,7/2,65 FS 12,1601.40,13,M1+E2,0.07000,16.0,7,23Mg,None,None,None,None,False
179,25,Mg,12,13,3907.90,4,5/2,6 FS 2,1170.60,9,[M1],0.30000,11,5,25Mg,None,None,None,None,False
180,25,Mg,12,13,4059.60,3,9/2,47 FS 5,2450.50,10,M1+E2,0.01020,14,9,25Mg,None,None,None,None,False
196,26,Mg,12,14,6978.30,8,5,14 FS 5,2660.00,20,M1+E2,0.01200,5,10,26Mg,None,None,None,None,False
205,28,Mg,12,16,4554.60,5,2,0.03 PS LT,3082.60,13,M1+E2,0.02400,>,4,28Mg,None,None,None,None,False
223,26,Al,13,13,2071.64,4,1,367 FS 69,1842.80,7,M1,0.00860,17,2,26Al,None,None,None,None,False
333,27,Al,13,14,4580.00,8,7/2,5.3 FS 6,4579.50,9,M1+E2,0.02800,4,7,27Al,None,None,None,None,False
334,27,Al,13,14,4580.00,8,7/2,5.3 FS 6,2368.70,11,M1+E2,0.05000,9,7,27Al,None,None,None,None,False
336,27,Al,13,14,4811.60,5,5/2,1.5 FS 2,4811.10,6,M1+E2,0.03400,6,5,27Al,None,None,None,None,False
338,27,Al,13,14,4811.60,5,5/2,1.5 FS 2,2600.30,8,M1+E2,0.13000,3,5,27Al,None,None,None,None,False
340,27,Al,13,14,5419.90,9,9/2,14 FS LT,3208.50,11,M1+E2,0.03500,>,9,27Al,None,None,None,None,False
356,28,Al,13,15,2201.43,3,1,32 FS 2,1229.80,4,[M1],0.05400,10,2,28Al,None,None,None,None,False
367,26,Si,14,12,2787.05,13,2,146 FS 35,988.90,1,M1+E2,0.10000,25,4,26Si,None,None,None,None,False
376,27,Si,14,13,5062.00,2,5/2,21 FS 6,4104.00,,M1+E2,0.01200,4,5,27Si,None,None,None,None,False
379,28,Si,14,14,8945.20,13,5,58 FS 6,4326.60,,(M1+E2),0.00006,12.0,10,28Si,None,None,None,None,False
390,29,Si,14,15,4840.38,7,1/2,3.5 FS LT,4839.60,4,(M1),0.04800,>,1,29Si,None,None,None,None,False
394,29,Si,14,15,5811.70,7,7/2,32 FS 12,2745.30,11,M1+E2,0.01700,7,7,29Si,None,None,None,None,False
408,30,Si,14,16,7223.20,4,4,14 FS LT,1943.00,11,M1+E2,0.07400,>,8,30Si,None,None,None,None,False
432,31,P,15,16,4634.20,8,7/2,68 FS 10,2399.70,5,M1+E2,0.00490,8,7,31P,None,None,None,None,False
440,31,P,15,16,6931.40,20,5/2,28 FS LT,4697.20,,M1+E2,0.00160,>,5,31P,None,None,None,None,False
459,32,P,15,17,3797.30,4,3,49 FS 26,3717.80,7,M1+E2,0.00140,10,6,32P,None,None,None,None,False
472,33,P,15,18,5050.00,7,5/2,62 FS LT,3617.20,,[M1],0.00076,>,5,33P,None,None,None,None,False
477,32,S,16,16,4695.30,4,1,286 FS 74,4694.00,25,[M1],0.00029,8,2,32S,None,None,None,None,False
478,32,S,16,16,7115.30,10,2,1.73 FS 35,4884.20,,M1+E2,0.07900,17,4,32S,None,None,None,None,False
498,36,S,16,20,4523.00,6,1,0.017 PS 8,4522.20,15,M1,0.01000,5,2,36S,None,None,None,None,False
510,33,Cl,17,16,4112.27,20,3/2,3 KEV LT,3280.00,50,M1+E2,0.03600,0.0,3,33Cl,None,None,None,None,False
528,35,Cl,17,18,3943.82,25,9/2,205 FS 35,1297.40,15,M1+E2,0.00034,12,9,35Cl,None,None,None,None,False
561,38,K,19,19,3429.70,10,2,0.12 PS LT,1028.00,12,[M1],0.10000,>,4,38K,None,None,None,None,False
563,38,K,19,19,3976.30,12,1,40 FS LT,3848.00,19,[M1],0.00710,>,2,38K,None,None,None,None,False
566,39,K,19,20,3938.90,5,3/2,73 FS 14,3938.30,10,M1+E2,0.00190,24.0,3,39K,None,None,None,None,False
570,39,K,19,20,4930.30,4,3/2,21 FS 9,4931.40,12,M1+E2,0.00250,58.0,3,39K,None,None,None,None,False

In [51]:
df[(df['Include']==True) & (df['Nucleus']=='22Na')]

,A,Element,Z,N,Energy (keV),Energy Unc (keV),Ji,Thalf,E_gamma (keV),E_gamma Unc (keV),M Gamma,B_exp (W.u.),B_exp Unc (W.u.),twoJi,Nucleus,Jf,twoJf,ni,nf,Include
115,22,Na,11,11,657.00,14,0,19.6 PS 7,73.90,1,M1,2.77000,10,0,22Na,1,2,1,1,True
116,22,Na,11,11,890.89,20,4,10.0 PS 3,890.87,20,M1+E2,0.00028,5,8,22Na,3,6,1,1,True
117,22,Na,11,11,1528.10,3,5,3.42 PS 24,637.50,20,M1+E2,0.00020,7,10,22Na,4,8,1,1,True
119,22,Na,11,11,2968.60,6,3,32 FS 4,1016.80,5,M1,0.65000,9,6,22Na,2,4,3,1,True
120,22,Na,11,11,3059.40,6,2,23 FS 3,2476.20,3,M1+E2,0.00180,7,4,22Na,1,2,2,1,True
121,22,Na,11,11,3059.40,6,2,23 FS 3,1107.60,5,M1,0.68000,9,4,22Na,2,4,2,1,True
123,22,Na,11,11,4071.40,6,4,0.7 FS LT,2088.20,5,M1,3.00000,>,8,22Na,3,6,2,2,True
124,22,Na,11,11,4319.00,5,1,17 FS 10,3662.00,,M1,0.02600,16,2,22Na,0,0,4,1,True
125,22,Na,11,11,4360.00,4,2,5.0 FS 14,2408.10,3,M1,0.24000,7,4,22Na,2,4,3,1,True
126,22,Na,11,11,4710.00,4,5,37 FS 14,638.60,,M1,1.00000,4,10,22Na,4,8,3,2,True
127,22,Na,11,11,4770.00,2,3,5.9 PS 14,2818.00,,M1,0.00017,4,6,22Na,2,4,4,1,True
128,22,Na,11,11,5062.50,4,2,14 FS LT,3110.60,4,M1,0.05200,>,4,22Na,2,4,4,1,True
129,22,Na,11,11,5100.40,13,4,38 FS 12,4209.10,,M1+E2,0.00086,<,8,22Na,4,8,3,1,True
130,22,Na,11,11,5100.40,13,4,38 FS 12,1029.00,,[M1],0.20000,7,8,22Na,4,8,3,2,True

In [52]:
df_output = df[df['Include']==True]

In [53]:
df_output.to_csv('cleaned_sd_M1_data_v3.csv',index=False)